/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* -------------Variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* Tipografía */
--normal:12px;
/* Espaciado */
--space:10px;
/* Box shadow */
--box:0px 0 2px 1px #e6e5e9;
}

/* -------------Variables */
html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}


nav{
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover{
  color: var(--white-color);
}

/* ------------------------ Main section */

.main_section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../images/curve.png");
  background-size: cover;
  background-position: center top;
  padding:20%;
  display: flex;
  justify-content: center;
}

.product{
  padding: var(--space);
  margin-top: -240px;
}
.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}
.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border:0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #5e9e22;
}

.quality{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 40px 20px;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-bottom: 200px;
}

.quality_item img{
  width: 100px;
  height: 90px;
}

.quality_item p{
  max-width: 400px;
  text-align: justify;
}

.quality_item{
  text-align: center;
}

hr{
  color: darkgrey;
}

.title_mentions{
  text-align: center;
  margin-bottom: 100px;
}

.mentions{
  display: flex;
  gap: 20px;
  text-align: justify;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.mentions p{
  max-width: 330px;
  padding: 2px 15px;
}

.mentions h2{
  padding: 2px 15px;
  margin-top: 20px;
}

.mention{
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.mention img{
  width: 100%;
}

footer{
  display: flex;
  background-color: #313337;
  padding: 10px;
  justify-content: space-between;
}

.text_footer1 a{
  text-align: left;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
}

.text_footer2 a{
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .products{
    	flex-direction:column;
    	height: auto;
      align-items: center;
      padding: 10%;
  }
  .product{ 
    margin-top: 20px;
    width: 100%;
  }
  .main_section{ 
    padding: 4%;
    text-align: center;
  }
  .mentions{ 
    flex-direction:column;
    align-items: center;
    gap: 20px;
  }
  .mentions p{
    max-width: 456px;
  }
  .mention{
    width: 90%;
  }
  .quality{
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  .quality_item p{
    text-align: center;
  }
}